/* desktop styles */

body {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	width: 100%;
	min-height: 100%;
	margin: 0;
	padding: 0;
	font-family: 'Droid Sans', sans-serif;
	background: linear-gradient(135deg, rgb(226, 119, 226), purple, darkblue, purple);
	background-size: 100%;
	margin-bottom: 10vw;
	overflow-y: hidden;
  }
  
  h1 {
	font-size: 12vw; /* Utilizamos unidades viewport width (vw) para hacerlo más adaptable */
	color: #FFF;
	text-align: center;
	letter-spacing: 2px;
	font-family: 'Arial', cursive;
	margin-bottom: -6vw;
	margin-top: 0;
  }
  
  h3 {
	font-size: 3vw;
	color: #FFF;
	line-height: 1.5;
	letter-spacing: 1px;
	text-align: center;
	margin: auto;
	padding-left: 10vw;
	padding-right: 10vw;
	
  }
  
  h4 {
	font-size: 1vw;
	color: #FFF;
	line-height: 1.5;
	letter-spacing: 1px;
	text-align: center;
	font-style: italic;
	padding-bottom: 20px;
	margin: 2vw;
	
  }
  
  button {
	background: #FFF;
	color: darkblue;
	cursor: pointer;
	text-transform: uppercase;
	width: 20vw; /* Ajuste del ancho para dispositivos móviles */
	height: 5vw; /* Ajuste de la altura para dispositivos móviles */
	border: 1px solid darkblue;
	border-radius: 20px;
	letter-spacing: 2px;
	font-size: 2vw;
	font-weight: bold;
	box-shadow: 0 0 3vw darkblue;
	margin-bottom: 0;
  }
  
  button:hover {
	background-color: Pink;
	color: purple;
	border-color: white;
	box-shadow: 0 0 2vw white;
	text-shadow: 0 0 10px white;
  }
  
  #contenido {
	padding-top: 20px; /* Ajuste del espaciado superior para dispositivos móviles */
	padding-bottom: 50px;
  }
  
  ::selection {
	background: #94DAF0;
	color: #FFF;
  }
  
  /* mobile styles */
  
  @media screen and (max-width: 800px) {
	body {
		background: linear-gradient(135deg, rgb(228, 67, 94), darkblue, Purple);
		background-size: 395%;
	}
	
	#contenido {
		text-align: center;
		max-width: 600px;
		width: 90%;
	  }

	h1 {
	  font-size: 20vw;
	  margin-bottom: -7vw;
	  margin-top: auto;
	  text-align: left;
	  margin-left: 5vw;

	}
  
	h3 {
	  font-size: 7vw;
	  width: 90%;
	  padding: 0;
	  text-align: left;
	}
  
	h4 {
	  font-size: 3.5vw;
	  margin-top: 4vw;
	  margin-bottom: 4vw;
	  text-shadow: 0 0 5vw pink;
	  text-align: right;
	}
  
	button {
	  width: 90%;
	  height: 16vw;
	  font-size: 5vw;
	}
  

  }
  
